/* Atenas UI by Convert Company | v1.0.4 | MIT License | https://github.com/convertcompany/atenas-ui/ */
/* Esse arquivo é o responsável pelas classes utils do Atenas UI */
.at-u-h1 {
    font-size: 2rem !important;
}
.at-u-h2 {
    font-size: 1.5rem !important;
}
.at-u-h3 {
    font-size: 1.25rem !important;
}
.at-u-h4 {
    font-size: 1rem !important;
}
.at-u-h5 {
    font-size: 0.875rem !important;
}
.at-u-h6 {
    font-size: 0.75rem !important;
}
.at-u-font-family-inherit {
    font-family: inherit !important;
}
.at-u-font-size-inherit {
    font-size: inherit !important;
}
.at-u-text-decoration-none {
    text-decoration: none !important;
}
.at-u-bold {
    font-weight: 700 !important;
}
.at-u-semibold {
    font-weight: 600 !important;
}
.at-u-regular {
    font-weight: 400 !important;
}
.at-u-italic {
    font-style: italic !important;
}
.at-u-caps {
    text-transform: uppercase !important;
    letter-spacing: 0.2em !important;
}
.at-u-left-align {
    text-align: left !important;
}
.at-u-center {
    text-align: center !important;
}
.at-u-right-align {
    text-align: right !important;
}
.at-u-justify {
    text-align: justify !important;
}
.at-u-nowrap {
    white-space: nowrap !important;
}
.at-u-break-word {
    word-wrap: break-word !important;
}
.at-u-line-height-1 {
    line-height: 1 !important;
}
.at-u-line-height-2 {
    line-height: 1.125 !important;
}
.at-u-line-height-3 {
    line-height: 1.25 !important;
}
.at-u-line-height-4 {
    line-height: 1.5 !important;
}
.at-u-list-style-none {
    list-style: none !important;
}
.at-u-underline {
    text-decoration: underline !important;
}
.at-u-truncate {
    max-width: 100% !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
.at-u-list-reset {
    list-style: none !important;
    padding-left: 0 !important;
}
.at-u-inline {
    display: inline !important;
}
.at-u-block {
    display: block !important;
}
.at-u-inline-block {
    display: inline-block !important;
}
.at-u-table {
    display: table !important;
}
.at-u-table-cell {
    display: table-cell !important;
}
.at-u-overflow-hidden {
    overflow: hidden !important;
}
.at-u-overflow-scroll {
    overflow: scroll !important;
}
.at-u-overflow-auto {
    overflow: auto !important;
}
.at-u-clearfix:before {
    content: " " !important;
    display: table !important;
}
.at-u-clearfix:after {
    clear: both !important;
}
.at-u-left {
    float: left !important;
}
.at-u-right {
    float: right !important;
}
.at-u-fit {
    max-width: 100% !important;
}
.at-u-max-width-0 {
    max-width: unset !important;
}
.at-u-max-width-1 {
    max-width: 18rem !important;
}
.at-u-max-width-2 {
    max-width: 24rem !important;
}
.at-u-max-width-3 {
    max-width: 32rem !important;
}
.at-u-max-width-4 {
    max-width: 48rem !important;
}
.at-u-max-width-5 {
    max-width: 64rem !important;
}
.at-u-border-box {
    box-sizing: border-box !important;
}
.at-u-align-baseline {
    vertical-align: baseline !important;
}
.at-u-align-top {
    vertical-align: top !important;
}
.at-u-align-middle {
    vertical-align: middle !important;
}
.at-u-align-bottom {
    vertical-align: bottom !important;
}
.at-u-m0 {
    margin: 0 !important;
}
.at-u-mt0 {
    margin-top: 0 !important;
}
.at-u-ml0 {
    margin-left: 0 !important;
}
.at-u-mr0 {
    margin-right: 0 !important;
}
.at-u-mb0 {
    margin-bottom: 0 !important;
}
.at-u-mx0 {
    margin-left: 0 !important;
}
.at-u-mx0 {
    margin-right: 0 !important;
}
.at-u-my0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.at-u-m1 {
    margin: 0.5rem !important;
}
.at-u-mt1 {
    margin-top: 0.5rem !important;
}
.at-u-mr1 {
    margin-right: 0.5rem !important;
}
.at-u-ml1 {
    margin-left: 0.5rem !important;
}
.at-u-mb1 {
    margin-bottom: 0.5rem !important;
}
.at-u-mx1 {
    margin-left: 0.5rem !important;
}
.at-u-mx1 {
    margin-right: 0.5rem !important;
}
.at-u-my1 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.at-u-m2 {
    margin: 1rem !important;
}
.at-u-mt2 {
    margin-top: 1rem !important;
}
.at-u-mr2 {
    margin-right: 1rem !important;
}
.at-u-ml2 {
    margin-left: 1rem !important;
}
.at-u-mb2 {
    margin-bottom: 1rem !important;
}
.at-u-mx2 {
    margin-left: 1rem !important;
}
.at-u-mx2 {
    margin-right: 1rem !important;
}
.at-u-my2 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.at-u-m3 {
    margin: 2rem !important;
}
.at-u-mt3 {
    margin-top: 2rem !important;
}
.at-u-mr3 {
    margin-right: 2rem !important;
}
.at-u-ml3 {
    margin-left: 2rem !important;
}
.at-u-mb3 {
    margin-bottom: 2rem !important;
}
.at-u-mx3 {
    margin-left: 2rem !important;
}
.at-u-mx3 {
    margin-right: 2rem !important;
}
.at-u-my3 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.at-u-m4 {
    margin: 4rem !important;
}
.at-u-mt4 {
    margin-top: 4rem !important;
}
.at-u-mr4 {
    margin-right: 4rem !important;
}
.at-u-ml4 {
    margin-left: 4rem !important;
}
.at-u-mb4 {
    margin-bottom: 4rem !important;
}
.at-u-mx4 {
    margin-left: 4rem !important;
}
.at-u-mx4 {
    margin-right: 4rem !important;
}
.at-u-my4 {
    margin-top: 4rem !important;
    margin-bottom: 4rem !important;
}
.at-u-mxn1 {
    margin-left: -0.5rem !important;
    margin-right: -0.5rem !important;
}
.at-u-mxn2 {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}
.at-u-mxn3 {
    margin-left: -2rem !important;
    margin-right: -2rem !important;
}
.at-u-mxn4 {
    margin-left: -4rem !important;
    margin-right: -4rem !important;
}
.at-u-ml-auto {
    margin-left: auto !important;
}
.at-u-mx-auto {
    margin-right: auto !important;
}
.at-u-mx-auto {
    margin-left: auto !important;
}
.at-u-p0 {
    padding: 0 !important;
}
.at-u-pt0 {
    padding-top: 0 !important;
}
.at-u-pr0 {
    padding-right: 0 !important;
}
.at-u-pb0 {
    padding-bottom: 0 !important;
}
.at-u-px0 {
    padding-left: 0 !important;
}
.at-u-px0 {
    padding-right: 0 !important;
}
.at-u-py0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.at-u-p1 {
    padding: 0.5rem !important;
}
.at-u-pt1 {
    padding-top: 0.5rem !important;
}
.at-u-pr1 {
    padding-right: 0.5rem !important;
}
.at-u-pb1 {
    padding-bottom: 0.5rem !important;
}
.at-u-pl1 {
    padding-left: 0.5rem !important;
}
.at-u-py1 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}
.at-u-px1 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}
.at-u-p2 {
    padding: 1rem !important;
}
.at-u-pt2 {
    padding-top: 1rem !important;
}
.at-u-pr2 {
    padding-right: 1rem !important;
}
.at-u-pb2 {
    padding-bottom: 1rem !important;
}
.at-u-pl2 {
    padding-left: 1rem !important;
}
.at-u-py2 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.at-u-px2 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.at-u-p3 {
    padding: 2rem !important;
}
.at-u-pt3 {
    padding-top: 2rem !important;
}
.at-u-pr3 {
    padding-right: 2rem !important;
}
.at-u-pb3 {
    padding-bottom: 2rem !important;
}
.at-u-pl3 {
    padding-left: 2rem !important;
}
.at-u-py3 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.at-u-px3 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
.at-u-p4 {
    padding: 4rem !important;
}
.at-u-pt4 {
    padding-top: 4rem !important;
}
.at-u-pr4 {
    padding-right: 4rem !important;
}
.at-u-pb4 {
    padding-bottom: 4rem !important;
}
.at-u-pl4 {
    padding-left: 4rem !important;
}
.at-u-py4 {
    padding-top: 4rem !important;
    padding-bottom: 4rem !important;
}
.at-u-px4 {
    padding-left: 4rem !important;
    padding-right: 4rem !important;
}
.at-u-col {
    float: left !important;
}
.at-u-col-right {
    box-sizing: border-box !important;
}
.at-u-col-right {
    float: right !important;
}
.at-u-col-1 {
    width: 8.33333% !important;
}
.at-u-col-2 {
    width: 16.66667% !important;
}
.at-u-col-3 {
    width: 25% !important;
}
.at-u-col-4 {
    width: 33.33333% !important;
}
.at-u-col-5 {
    width: 41.66667% !important;
}
.at-u-col-6 {
    width: 50% !important;
}
.at-u-col-7 {
    width: 58.33333% !important;
}
.at-u-col-8 {
    width: 66.66667% !important;
}
.at-u-col-9 {
    width: 75% !important;
}
.at-u-col-10 {
    width: 83.33333% !important;
}
.at-u-col-11 {
    width: 91.66667% !important;
}
.at-u-col-12 {
    width: 100% !important;
}
.at-u-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.at-u-flex-grow {
    flex-grow: 1 !important;
}
.at-u-flex-column {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.at-u-flex-wrap {
    -webkit-flex-wrap: wrap !important;
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.at-u-flex-center {
    align-items: center !important;
}
.at-u-items-start {
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    -ms-grid-row-align: flex-start !important;
    align-items: flex-start !important;
}
.at-u-items-end {
    -webkit-box-align: end !important;
    -webkit-align-items: flex-end !important;
    -ms-flex-align: end !important;
    -ms-grid-row-align: flex-end !important;
    align-items: flex-end !important;
}
.at-u-items-center {
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    -ms-grid-row-align: center !important;
    align-items: center !important;
}
.at-u-items-baseline {
    -webkit-box-align: baseline !important;
    -webkit-align-items: baseline !important;
    -ms-flex-align: baseline !important;
    -ms-grid-row-align: baseline !important;
    align-items: baseline !important;
}
.at-u-items-stretch {
    -webkit-box-align: stretch !important;
    -webkit-align-items: stretch !important;
    -ms-flex-align: stretch !important;
    -ms-grid-row-align: stretch !important;
    align-items: stretch !important;
}
.at-u-self-start {
    -webkit-align-self: flex-start !important;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
.at-u-self-end {
    -webkit-align-self: flex-end !important;
    -ms-flex-item-align: end !important;
    align-self: flex-end !important;
}
.at-u-self-center {
    -webkit-align-self: center !important;
    -ms-flex-item-align: center !important;
    align-self: center !important;
}
.at-u-self-baseline {
    -webkit-align-self: baseline !important;
    -ms-flex-item-align: baseline !important;
    align-self: baseline !important;
}
.at-u-self-stretch {
    -webkit-align-self: stretch !important;
    -ms-flex-item-align: stretch !important;
    align-self: stretch !important;
}
.at-u-justify-start {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
}
.at-u-justify-end {
    -webkit-box-pack: end !important;
    -webkit-justify-content: flex-end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
}
.at-u-justify-center {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.at-u-justify-between {
    -webkit-box-pack: justify !important;
    -webkit-justify-content: space-between !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}
.at-u-justify-around {
    -webkit-justify-content: space-around !important;
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
}
.at-u-content-start {
    -webkit-align-content: flex-start !important;
    -ms-flex-line-pack: start !important;
    align-content: flex-start !important;
}
.at-u-content-end {
    -webkit-align-content: flex-end !important;
    -ms-flex-line-pack: end !important;
    align-content: flex-end !important;
}
.at-u-content-center {
    -webkit-align-content: center !important;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
}
.at-u-content-between {
    -webkit-align-content: space-between !important;
    -ms-flex-line-pack: justify !important;
    align-content: space-between !important;
}
.at-u-content-around {
    -webkit-align-content: space-around !important;
    -ms-flex-line-pack: distribute !important;
    align-content: space-around !important;
}
.at-u-content-stretch {
    -webkit-align-content: stretch !important;
    -ms-flex-line-pack: stretch !important;
    align-content: stretch !important;
}
.at-u-flex-auto {
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    min-width: 0 !important;
    min-height: 0 !important;
}
.at-u-flex-none {
    -webkit-box-flex: 0 !important;
    -webkit-flex: none !important;
    -ms-flex: none !important;
    flex: none !important;
}
.at-u-order-0 {
    -webkit-box-ordinal-group: 1 !important;
    -webkit-order: 0 !important;
    -ms-flex-order: 0 !important;
    order: 0 !important;
}
.at-u-order-1 {
    -webkit-box-ordinal-group: 2 !important;
    -webkit-order: 1 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
}
.at-u-order-2 {
    -webkit-box-ordinal-group: 3 !important;
    -webkit-order: 2 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
}
.at-u-order-3 {
    -webkit-box-ordinal-group: 4 !important;
    -webkit-order: 3 !important;
    -ms-flex-order: 3 !important;
    order: 3 !important;
}
.at-u-order-last {
    -webkit-box-ordinal-group: 100000 !important;
    -webkit-order: 99999 !important;
    -ms-flex-order: 99999 !important;
    order: 99999 !important;
}
.at-u-relative {
    position: relative !important;
}
.at-u-absolute {
    position: absolute !important;
}
.at-u-fixed {
    position: fixed !important;
}
.at-u-top-0 {
    top: 0 !important;
}
.at-u-right-0 {
    right: 0 !important;
}
.at-u-bottom-0 {
    bottom: 0 !important;
}
.at-u-left-0 {
    left: 0 !important;
}
.at-u-z1 {
    z-index: 1 !important;
}
.at-u-z2 {
    z-index: 2 !important;
}
.at-u-z3 {
    z-index: 3 !important;
}
.at-u-z4 {
    z-index: 4 !important;
}
.at-u-border {
    border-color: var(--at-slate) !important;
    border-style: solid !important;
    border-width: var(--at-border-size) !important;
}
.at-u-border-top {
    border-color: var(--at-slate) !important;
    border-top-style: solid !important;
    border-top-width: var(--at-border-size) !important;
}
.at-u-border-right {
    border-color: var(--at-slate) !important;
    border-right-style: solid !important;
    border-right-width: var(--at-border-size) !important;
}
.at-u-border-bottom {
    border-color: var(--at-slate) !important;
    border-bottom-style: solid !important;
    border-bottom-width: var(--at-border-size) !important;
}
.at-u-border-left {
    border-color: var(--at-slate) !important;
    border-left-style: solid !important;
    border-left-width: var(--at-border-size) !important;
}
.at-u-border-none {
    border: 0 !important;
}
.at-u-lg-rounded {
    border-radius: 12px !important;
}
.at-u-rounded {
    border-radius: var(--at-border-radius) !important;
}
.at-u-circle {
    border-radius: 50% !important;
}
.at-u-rounded-top {
    border-radius: var(--at-border-radius) var(--at-border-radius) 0 0 !important;
}
.at-u-rounded-right {
    border-radius: 0 var(--at-border-radius) var(--at-border-radius) 0 !important;
}
.at-u-rounded-bottom {
    border-radius: 0 0 var(--at-border-radius) var(--at-border-radius) !important;
}
.at-u-rounded-left {
    border-radius: var(--at-border-radius) 0 0 var(--at-border-radius) !important;
}
.at-u-lg-rounded-top {
    border-radius: 12px 12px 0 0 !important;
}
.at-u-lg-rounded-right {
    border-radius: 0 12px 12px 0 !important;
}
.at-u-lg-rounded-bottom {
    border-radius: 0 0 12px 12px !important;
}
.at-u-lg-rounded-left {
    border-radius: 12px 0 0 12px !important;
}
.at-u-not-rounded {
    border-radius: 0 !important;
}
.at-u-hide {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}
.at-u-display-none {
    display: none !important;
}
.at-u-absolute-center{
   position:absolute !important;
   top:50% !important; left: 50% !important;
   transform : translate(-50%, -50%) !important;
}
.at-u-vertical-center{
    position:absolute !important;
    top:50% !important;
    transform : translateY(-50%) !important;
}
.at-u-opacity-10{
    opacity: .1 !important;
}
.at-u-opacity-20{
    opacity: .2 !important;
}
.at-u-opacity-30{
    opacity: .3 !important;
}
.at-u-opacity-40{
    opacity: .4 !important;
}
.at-u-opacity-50{
    opacity: .5 !important;
}
.at-u-opacity-60{
    opacity: .6 !important;
}
.at-u-opacity-70{
    opacity: .7 !important;
}
.at-u-opacity-80{
    opacity: .8 !important;
}
.at-u-opacity-90{
    opacity: .9 !important;
}
.at-u-opacity-100{
    opacity: 1 !important;
}
.at-u-container{
    max-width: 1200px !important;
    margin: 0 auto !important;
}
.at-u-vh{
    height: 100vh !important;
}
.at-u-clickable{
    user-select: none !important;
    cursor: pointer !important;
    &:hover{
        box-shadow: inset 0 0 0 1000px rgba(120,140,160, 0.05) !important;
    }
    &:active{
        box-shadow: inset 0 0 0 1000px rgba(120,140,160, 0.1) !important;
    }
}
.at-u-ratio-square{
    aspect-ratio: 1/1 !important;
}
.at-u-ratio-rectangle{
    aspect-ratio: 1/2 !important;
}
.at-u-ratio-widescreen{
    aspect-ratio: 16/9 !important;
}