<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="../../../assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="../../../css/vendors/dracula.min.css">
        <link rel="stylesheet" href="../../../dist/atenas-ui.min.css">
        <link rel="stylesheet" href="../../../src/index.css">
        <title>Teclas | Atenas UI</title>
    </head>
    <body at-dark>
        <div id="app">
            <docs-navbar active="components" path="../"></docs-navbar>
            <div class="at-page">
                <div class="at-page-container">
                    <div class="at-page-content">
                        <div class="at-u-container at-u-px3">
                            <div id="buttons" class="at-u-py2">
                                <div class="at-u-flex">
                                    <div class="at-u-col-12">
                                        <a href="../" class="at-u-semibold at-u-h5">Voltar</a>
                                        <h2>Teclas</h2>
                                        
                                        <p>O componente Teclas, é um mockup do seu teclado, útil em casos de documentação de atalhos e exemplos</p>
                                        <hr>
                                        <p>Lorem ipsum, dolor sit amet <a>consectetur adipisicing elit. Aut quasi harum, alias accusamus eius libero</a> nesciunt odio mollitia error corporis, illo, consectetur deleniti eligendi vitae magnam. Labore, ipsa. Et, maxime.</p>
                                        <div class="at-code-block">
                                            <div class="at-code-tabs">
                                                <div class="at-code-tab" at-active>src/index.html</div>
                                                <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                            </div>
                                            <pre><code class="language-html">{{system.codes.components.keys}}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-u-flex at-u-my3">
                                    <div class="at-u-col-12">
                                        <h2>Resultado</h2>
                                        <div class="at-code-block at-code-block-result" at-shadow="small">
                                            <div class="at-code-block-titlebar">
                                                <div class="at-code-block-traffic-lights"><div></div><div></div><div></div></div>
                                                <small>https://convert.app.br/atenas</small>
                                            </div>
                                            <div class="at-u-p3" at-left>
                                                <h3>Como imprimir pelo atalho de teclado</h3>
                                                <p>Para imprimir uma página, pressione <kbd>Cmd</kbd> +<kbd>P</kbd></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <docs-footer path="../"></docs-footer>
                </div>
            </div>
        </div>
        
        <script src="../../../js/vendors/vue.min.js"></script>
        <script src="../../../js/components/docs-navbar.js"></script>
        <script src="../../../js/components/docs-footer.js"></script>
        <script src="../../../js/vendors/highlight.min.js"></script>
        <script src="../../../js/codes.js"></script>
        <script src="../../../atenas.js"></script>
        <script src="../../../src/index.js"></script>
    </body>
</html>