<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="../../../src/assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="src/assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="../../../css/vendors/dracula.min.css">
        <link rel="stylesheet" href="../../../dist/atenas-ui.min.css">
        <link rel="stylesheet" href="../../../src/index.css">
        <title>Hero | Atenas UI</title>
    </head>
    <body at-dark>
        <div id="app">
            <docs-navbar active="components" path="../"></docs-navbar>
            <div class="at-page">
                <div class="at-page-container">
                    <div class="at-page-content">
                        <div class="at-u-container at-u-px3">
                            <div id="buttons" class="at-u-py2">
                                <div class="at-u-flex">
                                    <div class="at-u-col-12">
                                        <a href="../" class="at-u-semibold at-u-h5">Voltar</a>
                                        <h2>Hero</h2>
                                        <p>O componente hero, é um banner, que ocupa a página inteira, utilizado para dar destaque a um conteudo</p>
                                        <div class="at-code-block">
                                            <div class="at-code-tabs">
                                                <div class="at-code-tab" at-active>src/index.html</div>
                                                <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                            </div>
                                            <pre><code class="language-html">{{system.codes.components.hero.first}}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-u-flex at-u-my3">
                                    <div class="at-u-col-12">
                                        <h2>Resultado</h2>
                                        <div class="at-code-block at-code-block-result" at-shadow="small">
                                            <div class="at-code-block-titlebar">
                                                <div class="at-code-block-traffic-lights"><div></div><div></div><div></div></div>
                                                <small>https://convert.app.br/atenas</small>
                                            </div>
                                            <div class="at-u-p0 hero-preview">
                                                <div class="at-hero">
                                                    <div class="at-hero-content" at-size="small">
                                                        <div class="at-u-col-6">
                                                            <h2 at-tx="white">small</h2>
                                                            <p at-tx="transparent-white">Esse é um hero de tamanho pequeno</p>
                                                        </div>
                                                        <div class="at-u-col-6">
                                                            <div class="at-code-block" at-shadow="large">
                                                                <div class="at-code-tabs">
                                                                    <div class="at-code-tab" at-active>src/index.html</div>
                                                                    <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                                                </div>
                                                                <pre><code class="language-html">{{system.codes.components.hero.small}}</code></pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="at-hero">
                                                    <div class="at-hero-content" at-size="medium">
                                                        <div class="at-u-col-6">
                                                            <h2 at-tx="white">medium</h2>
                                                            <p at-tx="transparent-white">Esse é um hero de tamanho médio</p>
                                                        </div>
                                                        <div class="at-u-col-6">
                                                            <div class="at-code-block" at-shadow="large">
                                                                <div class="at-code-tabs">
                                                                    <div class="at-code-tab" at-active>src/index.html</div>
                                                                    <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                                                </div>
                                                                <pre><code class="language-html">{{system.codes.components.hero.medium}}</code></pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="at-hero">
                                                    <div class="at-hero-content" at-size="large">
                                                        <div class="at-u-col-6">
                                                            <h2 at-tx="white">large</h2>
                                                            <p at-tx="transparent-white">Esse é um hero de tamanho grande</p>
                                                        </div>
                                                        <div class="at-u-col-6">
                                                            <div class="at-code-block" at-shadow="large">
                                                                <div class="at-code-tabs">
                                                                    <div class="at-code-tab" at-active>src/index.html</div>
                                                                    <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                                                </div>
                                                                <pre><code class="language-html">{{system.codes.components.hero.large}}</code></pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="at-hero">
                                                    <div class="at-hero-content" at-size="fullscreen">
                                                        <div class="at-u-col-6">
                                                            <h2 at-tx="white">fullscreen</h2>
                                                            <p at-tx="transparent-white">Esse é um hero de tamanho fullscreen</p>
                                                        </div>
                                                        <div class="at-u-col-6">
                                                            <div class="at-code-block" at-shadow="large">
                                                                <div class="at-code-tabs">
                                                                    <div class="at-code-tab" at-active>src/index.html</div>
                                                                    <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                                                </div>
                                                                <pre><code class="language-html">{{system.codes.components.hero.fullscreen}}</code></pre>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <docs-footer path="../"></docs-footer>
                </div>
            </div>
        </div>
        
        <script src="../../../src/js/vendors/vue.min.js"></script>
        <script src="../../../src/js/components/docs-navbar.js"></script>
        <script src="../../../src/js/components/docs-footer.js"></script>
        <script src="../../../src/js/vendors/highlight.min.js"></script>
        <script src="../../../src/js/codes.js"></script>
        <script src="../../../atenas.js"></script>
        <script src="../../../src/index.js"></script>
    </body>
</html>