<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" href="../../../assets/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="../../../css/vendors/dracula.min.css">
        <link rel="stylesheet" href="../../../dist/atenas-ui.min.css">
        <link rel="stylesheet" href="../../../index.css">
        <title>Sidebar | Atenas UI</title>
    </head>
    <body at-dark>
        <div id="app">
            <docs-navbar active="components" path="../"></docs-navbar>
            <div class="at-page">
                <div class="at-page-container">
                    <div class="at-page-content">
                        <div class="at-u-container at-u-px3">
                            <div id="normal" class="at-u-py2">
                                <div class="at-u-flex">
                                    <div class="at-u-col-12">
                                        <a href="../" class="at-u-semibold at-u-h5">Voltar</a>
                                        <h2>Sidebar</h2>
                                        <p>O modulo de sidebar é responsivo, e conta com alguns modificadores adicionais, abaixo segue um exemplo</p>
                                        <div class="at-code-block">
                                            <div class="at-code-tabs">
                                                <div class="at-code-tab" at-active>src/index.html</div>
                                                <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                            </div>
                                            <pre><code class="language-html">{{system.codes.components.sidebar.normal}}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-u-flex at-u-my3">
                                    <div class="at-u-col-12">
                                        <h2>Resultado</h2>
                                        <div class="at-code-block at-code-block-result" at-shadow="small">
                                            <div class="at-code-block-titlebar">
                                                <div class="at-code-block-traffic-lights"><div></div><div></div><div></div></div>
                                                <small>https://convert.app.br/atenas</small>
                                            </div>
                                            <div class="at-page page-demo">
                                                <div class="at-sidebar">
                                                    <img class="page-demo-sidebar-logo" src="../../../assets/logo-dark.svg" at-show-dark></img>
                                                    <img class="page-demo-sidebar-logo" src="../../../assets/logo-light.svg" at-hide-dark></img>
                                                    <div class="at-sidebar-items">
                                                        <div class="at-sidebar-item" at-active><i class="bx bx-star"></i>Favoritos</div>
                                                        <div class="at-sidebar-item"><i class="bx bx-category"></i>Dashboard</div>
                                                        <div class="at-sidebar-item"><i class="bx bx-chat"></i>Mensagens</div>
                                                        <div class="at-sidebar-item"><i class="bx bx-chart"></i>Analytics</div>
                                                        <div class="at-sidebar-item"><i class="bx bx-cog"></i>Configurações</div>
                                                    </div>
                                                    <div class="at-sidebar-bottom ">
                                                        <div class="at-profile">
                                                            <div class="at-profile-avatar" at-bg="primary" at-profile-mockup="JS"></div>
                                                            <div class="at-profile-info">
                                                                <b>João Silva</b>
                                                                <p>Clique para visualizar</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="at-page-content">
                                                    <div class="at-u-p1">
                                                        <h1>Favoritos</h1>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consequuntur facere, repudiandae provident quae repellendus, quam vitae, harum porro iusto delectus quo magnam eius excepturi dolore dolores fugiat debitis reprehenderit?</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="normal" class="at-u-py2">
                                <div class="at-u-flex">
                                    <div class="at-u-col-12">
                                        <h2>Modo compacto</h2>
                                        <p>Adicionando o modificador, compacto, podemos reduzir o tamanho da barra para 60px</p>
                                        <div class="at-code-block">
                                            <div class="at-code-tabs">
                                                <div class="at-code-tab" at-active>src/index.html</div>
                                                <button class="at-button" onclick="copyCodeToClipboard(this)"><i class="bx bx-copy-alt"></i>Copiar código</button>
                                            </div>
                                            <pre><code class="language-html">{{system.codes.components.sidebar.compact}}</code></pre>
                                        </div>
                                    </div>
                                </div>
                                <div class="at-u-flex at-u-my3">
                                    <div class="at-u-col-12">
                                        <h2>Resultado</h2>
                                        <div class="at-code-block at-code-block-result" at-shadow="small">
                                            <div class="at-code-block-titlebar">
                                                <div class="at-code-block-traffic-lights"><div></div><div></div><div></div></div>
                                                <small>https://convert.app.br/atenas</small>
                                            </div>
                                            <div class="at-page page-demo">
                                                <div class="at-sidebar" at-compact>
                                                    <img class="page-demo-sidebar-logo-compact" src="../../../assets/icon-dark.svg"></img>
                                                    <div class="at-sidebar-items">
                                                        <div class="at-sidebar-item" at-active><i class="bx bx-star"></i><span>Favoritos</span></div>
                                                        <div class="at-sidebar-item"><i class="bx bx-category"></i><span>Dashboard</span></div>
                                                        <div class="at-sidebar-item"><i class="bx bx-chat"></i><span>Mensagens</span></div>
                                                        <div class="at-sidebar-item"><i class="bx bx-chart"></i><span>Analytics</span></div>
                                                        <div class="at-sidebar-item"><i class="bx bx-cog"></i><span>Configurações</span></div>
                                                    </div>
                                                    <div class="at-sidebar-bottom ">
                                                        <div class="at-profile">
                                                            <div class="at-profile-avatar" at-bg="primary" at-profile-mockup="GL"></div>
                                                            <div class="at-profile-info">
                                                                <b>João Silva</b>
                                                                <p>Clique para visualizar</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="at-page-content">
                                                    <div class="at-u-p1">
                                                        <h1>Favoritos</h1>
                                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et consequuntur facere, repudiandae provident quae repellendus, quam vitae, harum porro iusto delectus quo magnam eius excepturi dolore dolores fugiat debitis reprehenderit?</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <docs-footer path="../"></docs-footer>
                </div>
            </div>
        </div>
        
        <script src="../../../js/vendors/vue.min.js"></script>
        <script src="../../../atenas.js"></script>
        <script src="../../../js/components/docs-navbar.js"></script>
        <script src="../../../js/components/docs-footer.js"></script>
        <script src="../../../js/vendors/highlight.min.js"></script>
        <script src="../../../js/codes.js"></script>
        <script src="../../../index.js"></script>
    </body>
</html>